<div>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href>Hacker News</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" Uib-dropdown>
						<a href="#" id="settings-button" uib-dropdown-toggle><i class="glyphicon glyphicon-option-vertical" title="Settings"></i></span></a>
						<ul class="uib-dropdown-menu" role="menu" aria-labelledby="settings-button">
							<li class="dropdown-header"><i class="glyphicon glyphicon-none"></i>Number of Items</li>
							<li role="menuitem" ng-repeat="count in newsItemList.possibleConfig.numberOfItemsToReturn">
								<a href ng-click="newsItemList.selectCount(count)">
								<i class="glyphicon" ng-class="{'glyphicon-ok': newsItemList.isCountSelected(count), 'glyphicon-none': !newsItemList.isCountSelected(count)}"></i>&nbsp;{{count}}</a>
							</li>
							<li class="divider"></li>
							<li class="dropdown-header"><i class="glyphicon glyphicon-none"></i>Item Types</li>
							<li role="menuitem" ng-repeat="type in newsItemList.possibleConfig.allowedTypes">
								<a href ng-click="newsItemList.toggleType(type)"><i class="glyphicon" ng-class="{'glyphicon-ok': newsItemList.isTypeSelected(type), 'glyphicon-none': !newsItemList.isTypeSelected(type)}"></i>&nbsp;{{newsItemList.capitalize(type)}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="list-group">
		<div class="list-group-item" ng-show="newsItemList.loading">
			<img src="images/loading.gif" class="img-responsive" width="150">
		</div>
		<div class="list-group-item" ng-hide="newsItemList.loading || newsItemList.newsItemList.length">
			<h3 class="list-group-item-heading">No items found</h3>
		</div>
		<div class="list-group-item" ng-show="newsItemList.loadingError">
			<h3 class="list-group-item-heading">Some error occured!</h3>
		</div>
		<a href="{{newsItem.url}}" class="list-group-item" ng-repeat="newsItem in newsItemList.newsItemList | orderBy: '-score'" ng-hide="newsItemList.loading || !newsItemList.newsItemList.length">
			<span class="badge" title="Item score">{{newsItem.score}}</span>
			<h3 class="list-group-item-heading">
				<span class="glyphicon glyphicon-hand-right" title="Job" ng-show="newsItem.type === 'job'"></span>
				<span class="glyphicon glyphicon-signal" title="Poll" ng-show="newsItem.type === 'poll'"></span>
				<span class="glyphicon glyphicon-font" title="Story" ng-show="newsItem.type === 'story'"></span>
				&nbsp;{{newsItem.title}}</h3>
			<p class="list-group-item-text">Created by: {{newsItem.createdBy.username}} ({{newsItem.createdBy.karma}}), {{newsItem.created | date:'mediumDate'}}</p>
			<small class="list-group-item-text">{{newsItem.url}}</small>
		</a>
	</div>
</div>